PyGithub==1.58.2

# Compile python after installing:
# pysqlite==2.8.2
# pysqlite3
# bz2
# libsqlite3-dev

langchain==0.0.220
gpt4all==1.0.0
chromadb==0.3.26
llama-cpp-python==0.1.67
urllib3==2.0.3
PyMuPDF==1.22.3
python-dotenv==1.0.0
unstructured==0.7.11
extract-msg==0.41.5
tabulate==0.9.0
pandoc==2.3
pypandoc==1.11
tqdm==4.65.0

# sudo apt install libbz2-dev
